*.env
*.Renviron
**/venvsl*
**/venvsn*
**/venvr*
**/Backup*
**/Data*
**/data*
**/rsconnect*
**/temp*
**/aws*
**/mfs-data-reports*
**/Data-Scientist-Test*
**/.Rproj.user*
*.pem
*.log
*.pyc
*.csv
*.xlsx
__pycache__/
.RData
.Rhistory