*.env
*.Renviron
**/venvsl*
**/venvsn*
**/venvr*
**/Backup*
**/Data*
**/data*
**/rsconnect*
**/temp*
**/aws*
**/mfs-data-reports*
**/.Rproj.user*
temp/
.RData
.Rhistory
*.pem
*.log
*.pyc
__pycache__/
*.csv
*.xlsx
prompt.txt